<!DOCTYPE html>
<html lang="en">
<head>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: "#navbar",
            data: {
                login: true
            }

        });
    </script>
</head>
<body>
    <div class="content" id="page_content" style="margin-top:62px;">
        @RenderBody()
    </div>
</body>
</html>
