
@{
    Layout = null;
}
@model socialHR.Areas.Employer.Models.AuthorData
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
       
    </div>

    @using (Html.BeginForm("Test", "AuthorData", FormMethod.Post))
    {
        <input type="text" name="nameToReq"/><br />
        <button type="submit">Search</button>
    }
</body>
</html>
